// Colors
$white: #ffffff;
$gray: #414141;
$red: #881518;
$blue: #61dad6;
// Media queries

$mobile-small: 320px;// iPhone 5 and older
$mobile-large: 568px;
$tablet: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;
